.label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #37474f;
  margin-left: 20px;
}

.input {
  padding: 10px;
  border: 1px solid #b0bec5;
  border-radius: 4px;
  width: 350px;
  font-size: 16px;
  color: #263238;
}

.input:focus {
  outline: none;
  border-color: #0277bd;
  box-shadow: 0 0 6px rgba(2, 119, 189, 0.3);
}
